<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mediasmo.mygiftmind" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".DisplayGiftsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mediasmo.mygiftmind.MainActivity" />
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ModContactActivity"
            android:label="@string/title_activity_mod_contact"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".DelContactActivity"
            android:label="@string/title_activity_del_contact"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ContactDetailsActivity"
            android:label="@string/title_activity_contact_details"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mediasmo.mygiftmind.MainActivity" />
        </activity>
        <activity
            android:name=".AddGiftActivity"
            android:label="@string/title_activity_add_gift"
            android:parentActivityName=".DisplayGiftsActivity" >
        </activity>
        <activity
            android:name=".DelGiftActivity"
            android:label="@string/title_activity_del_gift"
            android:parentActivityName=".DisplayGiftsActivity" >
        </activity>
        <activity
            android:name=".ModGiftActivity"
            android:label="@string/title_activity_mod_gift"
            android:parentActivityName=".DisplayGiftsActivity" >
        </activity>-->
    </application>

</manifest>
